# First Name : Abhishek
# Last Name : Ponda
# CWID : 10478684
# Purpose : Assignment - HW06

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [2]:
# Load dataset
data = pd.read_csv('depression.csv')
data

,ID,SEX,AGE,MARITAL,EDUCAT,EMPLOY,INCOME,RELIGION,Cat_01,Cat_02,...,Cat_20,Cat_total,CASES,DRINK,HEALTH,REG_DOC,TREATED,BEDDAYS,ACUTE_ILLNESS,CHRON_ILLNESS
0,1,2,68,5,2,4,4,1,0,0,...,0,0,0,2,2,1,1,0,0,1
1,2,1,58,3,4,1,15,1,0,0,...,0,4,0,1,1,1,1,0,0,1
2,3,2,45,2,3,1,28,1,0,0,...,0,4,0,1,2,1,1,0,0,0
3,4,2,50,3,3,3,9,1,0,0,...,0,5,0,2,1,1,2,0,0,1
4,5,2,33,4,3,1,35,1,0,0,...,0,6,0,1,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,290,1,49,4,7,1,23,3,0,0,...,0,0,0,1,2,2,1,0,0,1
290,291,1,45,2,5,1,35,3,0,0,...,0,3,0,1,1,1,2,0,0,0
291,292,1,64,2,4,1,55,3,0,0,...,0,9,0,1,2,1,2,0,0,1
292,293,1,43,3,6,1,28,1,0,0,...,0,2,0,2,1,1,2,0,1,1
293,294,2,58,1,3,4,9,1,1,0,...,1,10,0,2,3,1,1,0,0,1

In [3]:
# Input
X = data[["SEX", "AGE", "INCOME","BEDDAYS","HEALTH"]]

# Output
y = data["Cat_total"]

In [4]:
# Split the data 
xtrn, xtst, y_trn, y_tst = train_test_split(X, y, test_size = 0.25, random_state = 0)
xtrn

     SEX  AGE  INCOME  BEDDAYS  HEALTH
154    2   21       5        0       1
194    1   61       4        0       2
228    2   43      15        0       1
229    2   60       8        0       2
76     1   20      65        1       1
..   ...  ...     ...      ...     ...
251    2   83       9        1       3
192    2   54       2        0       2
117    2   28      15        1       1
47     1   55      35        0       2
172    1   50       5        0       1

[220 rows x 5 columns]

In [5]:
sc_x = StandardScaler()
xtrn = sc_x.fit_transform(xtrn)
xtst = sc_x.transform(xtst)

In [6]:
# Define Logistic Rgression Model
classifier = LogisticRegression(random_state = 123)
classifier.fit(xtrn, y_trn)

LogisticRegression(random_state=123)

In [7]:
y_pred = classifier.predict(xtst)
y_pred

array([ 0, 10,  0,  0,  0,  9,  9,  3,  8,  5, 16,  8,  4,  0,  5,  0,  7,
        0,  7,  0,  0,  0,  0,  8,  5,  0,  7, 10, 15,  0,  9, 16,  0,  0,
        5,  9,  7,  6,  0,  0, 19,  0,  5,  0,  5,  3, 16, 10,  0, 10,  1,
        1,  1,  8,  7,  0,  0,  7,  0,  0,  0,  0,  1, 10,  7, 10,  0,  0,
        0, 10, 10,  7,  0,  1], dtype=int64)

In [8]:
y_pred = ["Yes" if year > 15 else "No" for year in y_pred]
y_tst = ["Yes" if year > 15 else "No" for year in y_tst]

In [9]:
# Accuracy
print ("Accuracy : ", accuracy_score(y_tst, y_pred))

Accuracy :  0.7432432432432432

In [10]:
# Confusion Matrix
cm = confusion_matrix(y_tst, y_pred)
print ("Confusion Matrix : \n", cm)

Confusion Matrix :
 [[54  3]
 [16  1]]